<!DOCTYPE html>
<html>

<head>
	<title>КОТОЧАТ</title>
</head>

<style>
body{
	background-image: url('https://media1.tenor.com/m/GOabrbLMl4AAAAAC/plink-cat-plink.gif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	color: white;
	text-outline: 2px 2px;
	text-outline-color: black;
	text-shadow: 2px 2px 2px black;
	padding-left: 100px;
	padding-top: 100px;
	font-size: 30px;
}
h2{
	color: white;
}
li{
	color: cyan;
}
input{
	color: blue;
}
</style>

<body>
	<div class="flex flex-col items-center">
		<h1>Вебсокетный чат с красивым котом на фоне</h1>
		<h2>Ваш номер: <span id="ws-id"></span></h2>
		<form action="" onsubmit="sendMessage(event)">
			<input type="text" id="messageText" autocomplete="off" />
			<button>Отправить</button>
		</form>
		<ul id='messages'> </ul>
	</div>
	<script>

	function appendMessage(msg) {
		let messages = document.getElementById('messages')
		let message = document.createElement('li')
		let content = document.createTextNode(msg)
		message.appendChild(content)
		messages.appendChild(message)
	}
	let client_id = Math.floor(Math.random() * 1000) + 1
	document.querySelector("#ws-id").textContent = client_id;
	let ws = new WebSocket(`{{ ws_protocol }}://{{ server_urn }}/ws/${client_id}`);

	ws.onmessage = function(event) {
		appendMessage(event.data)
	};

	function sendMessage(event) {
		let input = document.getElementById("messageText")
		ws.send(input.value)
		input.value = ''
		event.preventDefault()
	}
	</script>
</body>

</html>